<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.whbing.note.dao.NoteDao">

<insert id="save" parameterType="cn.whbing.note.entity.Note">
insert into cn_note
	(cn_note_id,cn_notebook_id,cn_user_id,cn_note_status_id,
	cn_note_type_id,cn_note_title,
	cn_note_body,cn_note_create_time,cn_note_last_modify_time)
values (#{cn_note_id},#{cn_notebook_id},#{cn_user_id},#{cn_note_status_id},
	#{cn_note_type_id},	#{cn_note_title},
	#{cn_note_body},#{cn_note_create_time},#{cn_note_last_modify_time})
</insert>

<select id="findByNoteBookId" parameterType="string"
	resultType="map">
select cn_note_id,cn_note_title from cn_note
where cn_notebook_id=#{notebookId} 
and cn_note_status_id='1'
order by cn_note_last_modify_time desc
</select>

<select id="findByNoteId" parameterType="string"
	resultType="cn.whbing.note.entity.Note">
select * from cn_note
where cn_note_id=#{noteId}
</select>

<update id="updateNote" parameterType="cn.whbing.note.entity.Note">
update cn_note
set	cn_note_title=#{cn_note_title},
	cn_note_body=#{cn_note_body},
	cn_note_last_modify_time=#{cn_note_last_modify_time}
where cn_note_id=#{cn_note_id}	
</update>

<update id="updateStatusId" parameterType="string">
update cn_note
set cn_note_status_id='2' where cn_note_id=#{cn_note_id}
</update>
</mapper>